<!-- this one is here just for easier navigation atm-->
<p><%= link_to "All highlights", highlights_path %></p>
<!-- library navigation -->
<div style="display:flex; justify-content: flex-start;">
  <%= link_to "Books", library_sources_path, class: "link-library" %>
  <%= link_to "Articles", articles_sources_path, class: "link-library" %></p>
</div>
<!-- TODO: add active class to current/pressed link -->
<!-- TODO: make navigation fixed -->
<!-- TODO: make it pretty -->
