<div style="position:fixed; display:flex; justify-content: flex-start; top:13.6vh; width: 100%; z-index:1000; background: linear-gradient(180deg, #4013a2 0%, #25265b 100%);">
  <%= link_to "Books", library_sources_path, class: "link-library" %>
  <%= link_to "Articles", articles_sources_path, class: "link-library" %></p>
  <%= link_to "My Tags", all_tags_highlights_path, class: "link-library" %></p>
</div>
<!-- TODO: add active class to current/pressed link -->
<!-- TODO: make it prettier -->
