/* { box-sizing: border-box; }
/*
.carousel {
  // add smtng or not
}
*/
.carousel-cell {
  width: 95%;
  margin-right: 1px;
  counter-increment: carousel-cell;
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
}

.carousel-cell:before {
  display: block;
  text-align: right;
  content: counter(carousel-cell);
  font-size: 4vw;
  color: #898AA6;
}

.flickity-page-dots {
  bottom: -5px !important;
}

.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}

.flickity-page-dots .dot.is-selected {
  background: white;
}

.tags {
  color: white;
  opacity: .7;
  font-size: 16px;
  &:hover {
    opacity: 1;
  }
}

.flickity-button {
  opacity: .75;
}
