
.background-image.pages {
  width: 100%;
  height: 8vh;
  object-fit: cover;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: top center;
  margin-top: 0;
  padding-bottom: 16px;
  position:fixed;
  z-index: 1000;
  border-bottom: 1px solid #fff;
}

#navbarDrop.navbar-brand.dropdown-toggle {
 margin: 8px 0;
}

/* { box-sizing: border-box; }
/*
.carousel {
  // add smtng or not
}
*/
.carousel-cell {
  width: 80%;
  //margin-right: 2px;
  counter-increment: carousel-cell;
}
/* cell number */
.carousel-cell:before {
  display: block;
  text-align: right;
  content: counter(carousel-cell);
  font-size: 4vw;
  color: #000;
}
/* make dots pretty - and then carousel is broken :/  */
/* position dots in carousel / /
.flickity-page-dots {
  top: -2vw;
}
/* white circles / /
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot / /
.flickity-page-dots .dot.is-selected {
  background: white;
}
*/

.tags {
  color: white;
  opacity: .7;
  font-size: 24px;
  &:hover {
    opacity: 1;
  }
}
