/* { box-sizing: border-box; }
/*
.carousel {
  // add smtng or not
}
*/
.carousel-cell {
  width: 80%;
  //margin-right: 2px;
  counter-increment: carousel-cell;
}
/* cell number */
.carousel-cell:before {
  display: block;
  text-align: right;
  content: counter(carousel-cell);
  font-size: 3vw;
  color: #000;
}
/* make dots pretty - and then carousel is broken :/  */
/* position dots in carousel / /
.flickity-page-dots {
  top: -2vw;
}
/* white circles / /
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot / /
.flickity-page-dots .dot.is-selected {
  background: white;
}
*/
