.card-source {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 32px;
  min-width: 0px;
  border-radius: 20px;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin: 24px;
  background-color: #fff;
  .cover {
    border-radius: 20px;
    box-shadow: 0px 0px 1px 2px #ececec;
  }
  .text {
    padding: 0 40px;
    strong, h6, p {
      font-size: 2.3vw;
      line-spacing: 2vh;
    }
  }
}

.link-library {
  padding: 4px 16px;
  background-color: #ccc;
  border-radius: 40px;
  margin: 8px;
  background-color: #6d6d8a;
  color: white;
  text-decoration: none;
  font-weight: 500;
  &:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
    opacity: .6;
  }
}

a {
  color: #262626;
}

a:hover {
  text-decoration: none;
  color: #6d6d8a;
}

