.card-source {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 326px;
  height: 128px;
  left: 10px;
  top: 0px;
  padding: 8px 8px;
  margin-bottom: 0px;
  min-width: 0px;
  border-radius: 10px;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin: 16px;
  background-color: #fff;
  .text {
    margin: -2px 2px;
    width: 58vw;
    strong, h6, p {
      font-size: 12px;
      color: #242543;
    }
  }
  .cover {
    margin: auto;
    padding-bottom: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 2px #ececec;
  }
}

.link-library {
  padding: 2px 14px;
  background-color: #524D82;
  border-radius: 24px;
  margin: auto;
  margin-left: 5vw;
  margin-top: 4px;
  margin-bottom: 9px;
  opacity: 70%;
  color: white;
  box-shadow: 0px 4px 4px rgba(8, 13, 60, 0.09);
  text-decoration: none;
  font-weight: 600;
  &:hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
    opacity: .6;
  }
}

.actives {
  color: #524D82;
  background: #fff;
}

.export {
  position: absolute;
  bottom: 4px;
}

.export-main {
  display: flex;
  justify-content: flex-end;
 .fas.fa-file-export {
   color: gray;
   font-size: 16px;
   &:hover {
     opacity: .6;
   }
  }
}


.card-s {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 360px;
  height: 96px;
  left: 10px;
  top: 0px;
  min-width: 0px;
  border-radius: 10px;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin: 8px 16px;
  margin-bottom: 0px;
  .text-s {
    margin: -2px 8px;
    width: 62vw;
    strong, h6, small {
      font-size: 12px;
      color: #fff;
      line-height: 12px;
    }
  }
  .cover-s {
    margin: auto;
    padding-bottom: 0px;
    border-radius: 10px;
  }
}

a {
  color: #262626;
}

a:hover {
  text-decoration: none;
  color: #6d6d8a;
}

.filter-input {
  border-radius: 24px;
  padding: 4px 63px;
  padding-left: 2vh;
  margin-top: 4px;
}

.filter-input {
  outline: none !important;
  border: none;

}

.textarea:focus, input:focus {
  outline: none;
}
