<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <p>
    <%= link_to library_sources_path do %>
      <i class="hover fas fa-book-reader" style="color:#8989A8;"></i>
    <% end %>
  </p>

<!--
  <p><%#= link_to flashcards_highlights_path(anchor: current_user.flashcards.first) do %>
      <i class="hover far fa-copy" style="color:#8989A8;"></i>
    <#% end %>
  </p> -->

  <p>
    <%= link_to favorites_highlights_path do %>
      <i class="hover fas fa-heart" style="color:#8989A8;"></i>
    <% end %>
  </p>

  <p>
    <%= link_to highlights_path do %>
      <i class="hover fas fa-search" style="color:#8989A8;"></i>
    <% end %>
  </p>

  <p>
    <%= link_to '/' do %>
      <i class="fas fa-house-user nav-bar-icon" style="color:#8989A8;"></i>
    <% end %>
  </p>
</div>

<script>
  $('.nav-bar-icon').on('click', function(){
    $(this).addClass('active');
  });
</script>
