<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <p>
    <%= link_to library_sources_path do %>
      <i class="hover fas fa-book-reader" style="color:#8989A8;"></i>
    <% end %>
  </p>

  <p><%= link_to flashcards_highlights_path do%>
      <i class="hover far fa-copy" style="color:#8989A8;"></i>
    <% end %>
  </p>

  <p>
    <%= link_to favorites_highlights_path do %>
      <i class="hover fas fa-heart" style="color:#8989A8;"></i>
    <% end %>
  </p>

  <p>
    <%= link_to all_tags_highlights_path do %>
      <i class="hover fas fa-hashtag" style="color:#8989A8;"></i>
    <% end %>
  </p>
</div>
