<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="myNavbar">

  <p>

    <%= link_to "/" do %>
      <i class="fas fa-play-circle"></i>
    <% end %>
  </p>


  <p>
    <%= link_to library_sources_path do %>
      <i class="fas fa-book"></i>
    <% end %>
  </p>



  <p>
    <%= link_to favorites_highlights_path do %>
      <i class="fas fa-heart"></i>
    <% end %>
  </p>

  <p>
    <%= link_to highlights_path do %>
      <i class="fas fa-search"></i>
    <% end %>
  </p>
</div>

