.alert {
  position: fixed;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000;
  background: #24265C;
  border-radius: 16px;
  opacity: .9;
  color: #fff;
}

// loading => export book
#loadDiv {
  justify-content: center;
  padding: 24px 56px 8px 56px;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000;
  background: #24265C;
  border-radius: 16px;
  opacity: .9;
}

.line-load {
  width: 120px;
  border-top: 8px solid rgba(0,0,0, 0);
  z-index: 0;
}

.progress-load {
  width: 0px;
  border-top: 8px solid #efefefef;
  z-index: 2;
  animation: run 1.8s linear;
  animation-fill-mode: forwards;
}

@keyframes run {
  to { width: 120px; }
}
