// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "button";


body {
  background-image: asset_url("backround.png");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-color: #3E09A7;
}

.container:last-of-type {
  margin-bottom: 60px;
}

h5 {
  font-family: 'Spartan', sans-serif;
  font-size: 14px;
  font-style: normal;
}

h3 {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  font-weight: 900;
  font-style: normal;
}

p {
  font-family: 'Spartan', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-top: 7px;
  margin-bottom: 7px;
  line-height: 22px;
  color: #898AA6;
}

.page {
  display: flex;
  justify-content: flex-end;
  font-style: oblique;
  color: #242543;
  font-size: 12px;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete {
  display: flex;
  justify-content: flex-end;
  padding: 0px 0px;
  color: rgba(0,0,0,0.3);
  align-items: center;

}

.sent {
  display: flex;
  justify-content: space-around;
}

.sent p {
  padding: 0px 8px;
}

.fas, .far {
  font-size: 20px;
  color: #13154E;
}

.hover:hover {
  color: #151251;
}

.row-highlights {
  margin-right: 0px !important;
  margin-left: 0px !important;
  max-width: 100%;
}
