// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "button";
@import "flashcard";



body {
  background-image: asset_url("backround.png");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-color: #3E09A7;
}

.container:last-of-type {
  margin-bottom: 60px;
}

h5 {
  font-family: 'Spartan', sans-serif;
  font-size: 14px;
  font-style: normal;
}

h3 {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5;
}

p {
  font-family: 'Spartan', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  margin-bottom: 7px;

  color: #898AA6;
}

.page {
  display: flex;
  justify-content: flex-end;
  font-style: oblique;
  color: #B6B4B5;
  font-size: 10px;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete {
  display: flex;
  justify-content: flex-end;
  padding: 0px 0px;
  color: rgba(0,0,0,0.3);
  align-items: center;

}

.sent {
  display: flex;
  justify-content: space-around;
}

.sent p {
  padding: 0px 8px;
}

.fas, .far {
  font-size: 20px;
  color: #13154E;
}

.hover:hover {
  color: #151251;
}

.row-highlights {
  margin-right: 0px !important;
  margin-left: 0px !important;
  max-width: 100%;
}

.flashcard-numbers {
  display: flex;
  justify-content: flex-start;
}

.logo {
  width: 60px;
}

.home-page-grid {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
}

.book-images {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.home-page-card {
  margin-top: 24px;
  margin-left: 19px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: 90%; // don't change this!!
  height: 460px;
  background: rgba(255, 255, 255, 0.9);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px;
  padding: 15px;
  // text-align: justify;
  box-shadow: 0px 4px 4px rgba(8, 13, 60, 0.09);
  h1 {
    font-weight: 600 ;
    font-size: 16px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    line-height: 22px;
  }
}

.button {
  margin-left: 48px !important;
  margin-right: 48px !important;
  text-align: center;
}

.cover_images {
  border-radius: 10px;
  margin: 8px;
  box-shadow: 0px 4px 4px rgba(8, 13, 60, 0.09);
}

.home-page-grid {

}

.spacing {
  margin-top: 35px !important;
}

.button-home {
  margin-top: 16px;
  background-color: #7E44FF;
  border-radius: 20px;
  padding: 8px;
  color: white;
  box-shadow: 0px 4px 4px rgba(8, 13, 60, 0.09);
  text-decoration: none;
  font-weight: 600;
  &:hover {
    color: #524D82;
    background: #fff;
  }
}
