.navbar-lewagon {
  justify-content: space-around;
  background: white;
  position: fixed;
  bottom: -1px;
  width: 100%;
  z-index: 2;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  box-shadow: 0px -4px 4px rgba(8, 13, 60, 0.09);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

#navbarDropdown.navbar-brand.dropdown-toggle {
 margin: 40px 0;
}

.dropdown-menu {
  background: #24265C;
  border-radius: 16px;
  border: 1px solid #fff;
  opacity: .9;
}

.dropdown-item {
  color: #fff;
  font-weight: 600;
}

.navbar-brand .dropdown-toggle {
  width: 60px;
  height: 40px;
}

i.fas{
  color:#8989A8;
}

i.fas.active {
  color: #24265C;
/*
.nav-bar-icon {
  &.active {
    color: purple;
  }
}
*/
