<div class="card" style="width: 86%;">
  <%= simple_form_for([@highlight], remote: true) do |f| %>
    <%= f.input :my_note, label: false %>
    <%= f.submit "Save", style: "font-size:12px;background-color:rgba(76,68,255,.8); border:none; font-weight:bold; padding:4px 8px; color: white; border-radius: 16px;" %>
  <% end %>
</div>

