<div class="card" style="width: 86%;">
  <%= simple_form_for([@highlight], remote: true) do |f| %>
 <!-- trigger on enter: <#%= hidden_field_tag :authenticity_token, form_authenticity_token %> -->
    <%= f.input :my_note, label: false %>
    <%= f.submit "Save", style: "font-size:12px;background-color:rgba(76,68,255,.8); border:none; font-weight:bold; padding:4px 8px; color: white; border-radius: 16px;" %>
  <% end %>
</div>

<script>
// trigger on enter => works with redirect_back in cntrl but! no remote
/*
  document.getElementById('highlight_my_note').addEventListener('keyup', triggerSubmit);
  function triggerSubmit(event) {
    if (event.keyCode === 13) {
      event.preventDefault();
      document.querySelector('.simple_form.edit_highlight').submit();
    }
  }
*/

 document.querySelector('.simple_form.edit_highlight').addEventListener('submit', moveCarousel);

function moveCarousel() {
  const location = window.location.href; //change location for production
  const regexp = /#[0-9]+/
  const myLocation = location.replace(regexp, '');
  console.log(myLocation);
  if (myLocation  == `http://localhost:3000/highlights/flashcards`) {
    const items = document.getElementById('items');
    // run carousel again
    // overwrite initCarousel...

   } else {
     // do nothing
  }
}

</script>
