<div class="icons" style='position: absolute; top: 86%; left:50%; transform:translateX(-50%);'>
  <p>
    <%= link_to unfav_highlight_path(h), id: "unfav",  method: :put, remote: true  do %>
      <i  title='Unfavorite' class="fas fa-heart flashcard-button" style='color:#555555'></i>
    <% end %>
  </p>
  <p>
    <%= link_to fav_highlight_path(h), id: "fav", method: :put, remote: true  do %>
      <i title='Favorite' class="far fa-heart flashcard-button" style='color:#aaa'></i>
    <% end %>
  </p>
  <p>
    <%= link_to edit_highlight_path(h), id: "edit", remote: true do %>
      <i class="fas fa-pen flashcard-button" title='Write/update note'></i>
    <% end %>
  </p>
  <p>
    <%= link_to export_highlight_path(h), id: "export", remote: true do %>
      <i class="fas fa-paper-plane flashcard-button" title='Export'></i>
    <% end %>
  </p>
  <!--
  <div class="delete">
    <p>
      <#%= link_to h, method: :delete, data: {confirm: "Are you sure?"}, id: "del", remote: true do %>
        <i class="far fa-trash-alt flashcard-button" title='Delete'></i>
      <#% end %>
    </p>
  </div> -->
</div>

<div id='myAlert' class="alert alert-warning alert-dismissible fade show m-1" style='display:none;'>
  Yay! Highlight was succsesfully exported!
  <button type="button" class="close" id='clsBtn'>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
