<div class="container">
<p><%= link_to "All highlights", highlights_path, style: "color:white;" %></p>
<h1 style="color:white;">Flashcards (<%= @flashcards.count %>)</h1>

<%= render 'highlights/highlight_card', highlights: @flashcards %>
</div>
