<%= render 'shared/dropdown' %>
<div style="position: fixed; z-index:900; top: 8vh; width: 100%; padding: 12px 0;background:linear-gradient(180deg,  #25265b 10%, #4013a2 50%, #25265b 100%);">
  <h1 style="color:white; padding-left:5vw;"><%= @tag %> (<%= @tagged_highlights.count %>)</h1>
</div>
<div class="container" style="padding-bottom: 64px; padding-top: 16vh;">
  <%= render 'highlights/highlight_card', highlights: @tagged_highlights %>
</div>
