<h1 style='color: #fff; text-align: center; padding-top: 56px;'>Read to Remember</h1>
<div style='display: flex; justify-content: center; padding-top: 56px;'>
  <%= cl_image_tag @image.img.key, crop: :fill, class: "cover" %>
</div>
